:root {
  // BRAND COLORS:
  --color-dark-50: rgba(243, 243, 243, 1);
  --color-dark-60: rgba(237, 236, 238, 1);
  --color-dark-500: rgba(19, 17, 24, 1);
  --color-dark-500-5: rgba(19, 17, 24, 0.05);
  --color-dark-500-20: rgba(19, 17, 24, 0.2);
  --color-dark-500-50: rgba(19, 17, 24, 0.5);
  --color-dark-500-70: rgba(19, 17, 24, 0.7);

  --color-white-500: rgba(255, 255, 255, 1);
  --color-white-500-60: rgba(255, 255, 255, 0.6);
  --color-white-500-20: rgba(255, 255, 255, 0.2);

  --color-error-500: rgb(255, 111, 118);

  --color-gray-500: rgba(164, 161, 170, 1);
  --color-gray-600: rgb(110, 109, 113);
  --color-green-500: rgba(60, 209, 57, 1);
  --color-orange-500: rgba(151, 51, 9, 1);
  --color-blue-500: rgba(40, 121, 254, 1);
  --color-blue-500-30: rgba(40, 121, 254, 0.3);
  --color-blue-500-60: rgba(40, 121, 254, 0.5);
  --color-blue-500-80: rgba(40, 121, 254, 0.8);
}
