.card {
  display: grid;
  grid-template-rows: 3fr fr 1fr;
  justify-items: center;
  gap: calc(var(--base) * 1.5);
  min-width: calc(var(--base) * 23);
  width: 100%; /* Добавлено для растягивания по ширине */
  height: calc(var(--base) * 50); /* Фиксированная высота */

  margin-bottom: calc(var(--base) * 5);

  &:hover {
    // border: 2px solid black;
  }
}

.image {
  position: relative;

  width: 100%;
  height: calc(
    var(--base) * 33
  ); /* Это значение может быть изменено по вашему усмотрению */
  overflow: hidden;
  transition: all 0.5s ease;

  &:hover {
    .mainImage {
      display: none;
    }

    .secondImage {
      display: block;
      z-index: 2;
    }
  }

  img {
    position: absolute;
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  .mainImage {
    z-index: 1;
  }

  .secondImage {
    display: none;
  }

  .new {
    position: absolute;
    top: calc(var(--base) / 1.2);
    right: calc(var(--base) / 1.2);
    padding: calc(var(--base) / 1.2) calc(var(--base) / 1.2);
    background-color: var(--color-blue-500);
    color: var(--color-white-500);
    border-radius: 50%;
    font-size: calc(var(--base) / 1.1);
    z-index: 3;
  }
}

.title {
  text-align: center;
  font-size: calc(var(--base) * 1.5);
  font-weight: 700;
}

.prices {
  display: flex;
  gap: calc(var(--base) * 1.6);
  margin-top: 0;

  h3 {
    font-size: calc(var(--base) * 1.5);
  }
}

.oldPrice {
  color: var(--color-gray-500);
  text-decoration: line-through;
  font-weight: 100;
}

.newPrice {
  font-weight: 700;
}
