@use "../../_scss/queries.scss" as *;

.product {
  display: flex;
  gap: 50px;
  padding: 20px 50px;
  height: auto;

  .left {
    flex: 1;
    display: flex;

    align-items: start;
    gap: 20px;

    .images {
      display: flex;
      flex-direction: column;

      min-width: 130px;
      height: auto;

      img {
        width: 100%;
        max-height: 150px;
        object-fit: contain;
        margin-bottom: 16px;
        outline: 2px solid var(--color-dark-500-20);
        border-radius: 6px;
        cursor: pointer;
      }

      .selected {
        outline: 1px solid var(--color-blue-500-80);
        border-radius: 6px;
        box-shadow: 0 0 0 3px var(--color-blue-500-30), inset 0 0 0 2px #fff;
        cursor: pointer;
      }
    }

    .mainImage {
      display: flex;
      width: 100%;
      max-height: 700px;

      overflow: hidden;

      img {
        object-fit: contain;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calc(var(--base) * 2.5);

    .brandName {
      font-style: 28px;
      font-weight: 700;
      color: var(--color-gray-600);

      span {
        font-weight: 400;
      }
    }

    .title {
      margin-top: 0;
    }

    .priceContainer {
      display: flex;
      align-items: center;
      gap: 30px;

      .price {
        font-size: calc(var(--base) * 2.5);
        color: var(--color-orange-500);
        font-weight: 500;
      }

      .priceOld {
        font-size: 22px;
        color: var(--color-gray-600);
        text-decoration: line-through;
      }
    }

    .description {
      font-size: calc(var(--base) * 1.6);
      font-weight: 600;
      text-align: justify;
      color: var(--color-dark-500-70);
    }

    .quantity {
      display: flex;
      align-items: center;
      gap: var(--base);

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border: none;
        background-color: var(--color-dark-500-20);
        font-size: calc(var(--base) * 1.5);
        cursor: pointer;

        &:hover {
          background-color: var(--color-dark-500-50);
        }

        &:active {
          background-color: var(--color-dark-500-20);
        }
      }

      span {
        width: 30px;
        font-size: calc(var(--base) * 1.5);
        text-align: center;
      }
    }

    .addButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      padding: 10px;
      gap: 16px;
      background-color: var(--color-blue-500-80);
      color: var(--color-white-500);
      border: none;
      font-size: calc(var(--base) * 1.2);
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background-color: var(--color-blue-500);
      }

      &:active {
        background-color: var(--color-blue-500-60);
      }
    }

    .links {
      display: flex;
      gap: 20px;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: var(--color-blue-500-80);
        cursor: pointer;

        &:hover {
          color: var(--color-blue-500);
        }

        &:active {
          color: var(--color-blue-500-60);
        }
      }
    }

    .aboutItem {
      margin-top: 16px;
      color: var(--color-dark-500-70);
      font-size: 14px;

      ul {
        list-style-type: disc;
        padding-left: 20px;
        margin: 0;
      }

      li {
        margin-bottom: 8px;
        font-size: 16px;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: start;
      gap: 10px;
      color: var(--color-dark-500-70);
      font-size: 14px;

      h3 {
        margin: 0;
        font-size: 18px;
      }

      hr {
        margin: 0;
        width: 200px;
        border: 1px solid var(--color-dark-500-5);
      }

      .seller {
        text-transform: capitalize;
      }

      .productType {
        text-transform: capitalize;
      }
    }

    hr {
      margin: 0;
      width: 100%;
      border: 1px solid var(--color-dark-500-5);
    }
  }
}
